<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <h2>Scenario 1</h2>
  <app-scenario1></app-scenario1>
  <h2>Scenario 2</h2>
  <app-scenario2></app-scenario2>
  <h2>Scenario 3</h2>
  <app-component1></app-component1>
  <h2>Scenario 4</h2>
  <app-componenti></app-componenti>
  <h2>Scenario 5</h2>
  <app-compi></app-compi>
  <h2>Scenario 6</h2>
  <app-comp1></app-comp1>
  

 
<router-outlet></router-outlet>

 